# Database
# Conexao direta (porta 5432) - preferencial
# Ex: postgresql://postgres:senha@db.xxxxx.supabase.co:5432/postgres
DATABASE_URL=postgresql://usuario:senha@host:5432/postgres

APP_USUARIO=nome_da_contadora
APP_SENHA=senha_de_acesso
OPENAI_API_KEY=sk-proj-...
